:root {
    --border-radius: 4px;
    --color-text: #333;
    --color-primary: #8067AD;
    --color-gray: #A0A09F;
    --color-code-bg: #fff4db;
    --color-code: #8a6534;
    --font-primary: "Poppins";
    --font-lg: 18px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-sx: 12px;
    --line-height-loose: 1.75;
    --line-height-normal: 1.5;
    --line-height-dense: 1.1;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 64px;
    --size-content: 54rem;
    --size-gutter: var(--space-5);
    --size-gap: var(--space-6);
}

.sdg-top {
    color: var(--color-primary);
}

.sdg-paragraph {
    font-weight: 400e;
    line-height: var(--line-height-loose);
}

.check-icon {
    color: var(--color-primary);
}

.primary-color {
    color: var(--color-primary);
}

/* .team-member-div{
    width: 200px;
    height: auto;
} */
.team-inner {
    width: 200px;
    height: auto;
}

.team-member-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* float: right; */
}

.long-purple-line {
    width: 300px;
    height: 12px;
    background-color: var(--color-primary);
    border-radius: 10px;
    transform: rotate(-50deg);
    top: 90px;
    left: -50px;
    z-index: -1;
}

.short-grey-line {
    width: 40px;
    height: 12px;
    background-color: var(--color-gray);
    border-radius: 10px;
    transform: rotate(-50deg);
    top: -15px;
    left: 140px;
    z-index: -1;
}

.see-all {
    color: var(--color-primary);
    text-decoration: none;
}

/* start technology section */
.pictorama {
    width: 100;
    min-height: 50vh;
}

.uamuzi-home-img {
    position: absolute;
    top: 100px;
    right: -320px;
    z-index: -1;
    border-radius: 30px;
}

.tech-image {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
}
.tech-image.img1 {
    width: 100px;
    height: 100px;
    left: 150px;
    top: 50px;
}
.tech-image.img2 {
    width: 180px;
    height: 180px;
    left: 70px;
    top: 210px;
}
.tech-image.img3 {
    width: 130px;
    height: 130px;
    left: 150px;
    bottom: 50px;
}
.tech-image.img4{
    width: 100px;
    height: 100px;
    right: 0px;
    bottom: 50px;
    z-index: -1;
}
.tech-image.img5{
    width: 100px;
    height: 100px;
    right: 30px;
    top: 50px;
    /* z-index: -1; */
}

@media screen and (max-width: 992px){
    
}

@media screen and (min-width: 768px){
    
}



@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 480px) {}

/* end technology section */

/*  */