:root {
    --border-radius: 4px;
    --color-text: #333;
    --color-primary: #8067AD;
    --color-gray: #A0A09F;
    --color-code-bg: #fff4db;
    --color-code: #8a6534;
    --font-primary: "Poppins";
    --font-lg: 18px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-sx: 12px;
    --line-height-loose: 1.75;
    --line-height-normal: 1.5;
    --line-height-dense: 1.1;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 64px;
    --size-content: 54rem;
    --size-gutter: var(--space-5);
    --size-gap: var(--space-6);
}

.sdg-top {
    color: var(--color-primary);
}

.sdg-paragraph {
    font-weight: 400e;
    line-height: var(--line-height-loose);
}

.check-icon {
    color: var(--color-primary);
}

.primary-color {
    color: var(--color-primary);
}

/* .team-member-div{
    width: 200px;
    height: auto;
} */
.team-inner {
    width: 200px;
    height: auto;
}

.team-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding:10px;
}

.team-member-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* float: right; */
}

.long-purple-line {
    width: 300px;
    height: 12px;
    background-color: var(--color-primary);
    border-radius: 10px;
    transform: rotate(-50deg);
    top: 90px;
    left: -50px;
    z-index: -1;
}

.short-grey-line {
    width: 40px;
    height: 12px;
    background-color: var(--color-gray);
    border-radius: 10px;
    transform: rotate(-50deg);
    top: -15px;
    left: 140px;
    z-index: -1;
}

.see-all {
    color: var(--color-primary);
    text-decoration: none;
}

/* start technology section */
.pictorama {
    width: 100;
    min-height: 100vh;
}

.tech-inner {
    right: 60px;
    height: 900px;
    transform: translateY(9%);
    margin-bottom: -150px;
}

.uamuzi-home-img {
    position: absolute;
    top: 50px;
    right: -290px;
    /* z-index: -1; */
    border-radius: 30px;
}
.become-a-leader-img{
    right: -100px;
}

.partner-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* border: 2px solid blue; */

}

.partner-image-container{
    display: flex;
    /* border: 2px solid green; */
}
.partner-image{
    /* border: 2px solid grey; */
    /* background-color:grey; */
    padding:10px;
    border-radius:10px;
    margin:2px;
}
@media (max-width: 768px) {
    .become-a-leader-img {
        display: none; 
    }
    .uamuzi-home-img{
        right: -230px;
        top: -70px;
    }
    .partner-image-container{
        flex-direction:column;
        /* border: 2px solid green; */
    }
}
.tech-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.tech-image.img1 {
    width: 100px;
    height: 100px;
    left: 150px;
    top: 50px;
}
.tech-image.img2 {
    width: 175px;
    height: 175px;
    left: 70px;
    top: 210px;
}
.tech-image.img3 {
    width: 100px;
    height: 100px;
    left: 150px;
    bottom: 50px;
}
.tech-image.img4{
    width: 120px;
    height: 120px;
    right: 0px;
    bottom: 50px;
    /* z-index: -1; */
}
.tech-image.img5{
    width: 100px;
    height: 100px;
    right: 30px;
    top: 50px;
    /* z-index: -1; */
}
.tech-image.img6{
    height:200px;
    width: 200px;
}
/* end technology section */

/* start mobile section */
.mobile-section{
    background-color: #F8F8F8;

}
.mobile-section .row{
    background-color: transparent;
}
.vector-wave{
    width: 100%;
    height: 50%;
    background-image: url("../images/Vectorwave.png");
    background-position: center;
    background-size: cover;
    left: -50px;
    bottom: 0;
    /* background-color: red; */
}
.mobile-text-col{
    z-index: 1;
}
.big-purple-mobile-circle{
    width: 400px;
    height: 400px;
    background-color: var(--color-primary);
    border-radius: 50%;
}
.phone-mobile{
    z-index: 1;
}
.strokes{
    width: 150px;
    height: 3px;
    background: var(--color-primary);
}
.stroke-1{
    width: 30px;
    height: 3px;
    bottom: 30px;
    left: 90px;
    transform: rotate(0deg);
}
.stroke-2{
    width: 60px;
    height: 3px;
    bottom: 0px;
    left: 70px;
    transform: rotate(-30deg);

}
.stroke-3{
    width: 30px;
    height: 3px;
    bottom: -20px;
    left: 110px;
    transform: rotate(-60deg);
}
/* end mobile section */
.drop-li{

}
.drop-link{
    text-decoration: none;
}
